[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
openmdao-omt = {editable = true,path = "."}
black = "==19.3b0"
flake8 = "*"
pytest = "*"
hypothesis = "*"
pdbpp = "*"
pytest-profiling = "*"
pymop = "*"

[packages]

[requires]
python_version = "3.7"
